In [1]:
from pyspark.sql.functions import hour,minute,second,col,avg,when
from pyspark import SparkContext
import pyspark.sql.functions as sql_functions
from pyspark.sql import SQLContext
import datetime

In [2]:
sc = SparkContext()
sqlContext = SQLContext(sc)

In [4]:
df = sqlContext.read.csv("hdfs://localhost:54310/spark/usr_log_data.csv",header=True,inferSchema = True)
df.show()

+--------------------+-------------------+-------------------+-------------------+-------------------+
|           user_name|          idle_time|      working_hours|         start_time|           end_time|
+--------------------+-------------------+-------------------+-------------------+-------------------+
|  sahil24c@gmail.com|2019-10-24 05:05:00|2019-10-24 05:50:00|2019-10-24 08:30:02|2019-10-24 19:25:02|
|magadum.iranna@gm...|2019-10-24 02:15:00|2019-10-24 08:39:59|2019-10-24 08:30:02|2019-10-24 19:25:01|
|  yathink3@gmail.com|2019-10-24 01:30:00|2019-10-24 09:24:59|2019-10-24 08:30:02|2019-10-24 19:25:01|
|  shelkeva@gmail.com|2019-10-24 00:30:00|2019-10-24 09:10:01|2019-10-24 08:45:01|2019-10-24 18:25:02|
|puruissimple@gmai...|2019-10-24 03:15:00|2019-10-24 07:19:59|2019-10-24 08:50:02|2019-10-24 19:25:01|
|sangita.awaghad19...|2019-10-24 01:55:00|2019-10-24 08:40:00|2019-10-24 08:50:01|2019-10-24 19:25:01|
|vaishusawant143@g...|2019-10-24 00:35:00|2019-10-24 09:55:00|2019-10-24 08:55:01|2019-10-24 19:25:01|
|     you@example.com|2019-10-24 02:35:00|2019-10-24 08:04:59|2019-10-24 08:45:02|2019-10-24 19:25:01|
|samadhanmahajan73...|2019-10-24 01:10:00|2019-10-24 08:39:59|2019-10-24 09:00:02|2019-10-24 18:50:01|
|vishnu23kumar@gma...|2019-10-24 04:15:00|2019-10-24 06:10:00|2019-10-24 09:00:01|2019-10-24 19:25:01|
|ashutoshrit64@gma...|2019-10-24 00:00:00|2019-10-24 10:25:01|2019-10-24 09:00:01|2019-10-24 19:25:02|
|akshaybavalekar10...|2019-10-24 01:45:00|2019-10-24 08:35:00|2019-10-24 09:05:01|2019-10-24 19:25:01|
|khairnarswapna99@...|2019-10-24 00:50:00|2019-10-24 09:25:00|2019-10-24 09:10:01|2019-10-24 19:25:01|
|kukadeshilpaa7m95...|2019-10-24 00:35:00|2019-10-24 09:40:00|2019-10-24 09:10:01|2019-10-24 19:25:01|
|sarikabarge111@gm...|2019-10-24 01:20:00|2019-10-24 08:45:00|2019-10-24 09:10:01|2019-10-24 19:15:01|
|narsimharaj.kasu0...|2019-10-24 02:05:00|2019-10-24 08:05:00|2019-10-24 09:10:01|2019-10-24 19:20:01|
|antonyalexcm@gmai...|2019-10-24 00:00:00|2019-10-24 10:15:00|2019-10-24 09:10:01|2019-10-24 19:25:01|
|jitupatil937@gmai...|2019-10-24 00:55:00|2019-10-24 09:20:00|2019-10-24 09:10:01|2019-10-24 19:25:01|
|akshaypatwari24@g...|2019-10-24 01:10:00|2019-10-24 09:05:00|2019-10-24 09:10:01|2019-10-24 19:25:01|
|aheteshams007@gma...|2019-10-24 01:35:00|2019-10-24 08:50:01|2019-10-24 09:00:01|2019-10-24 19:25:02|
+--------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [7]:
late_hours = df.filter(sql_functions.col('start_time') > '2019-10-24 09:30:02').select('user_name','start_time')
late_hours.show()

+--------------------+-------------------+
|           user_name|         start_time|
+--------------------+-------------------+
|  rr582619@gmail.con|2019-10-24 09:35:01|
| addyp1911@gmail.com|2019-10-24 09:35:02|
|rohitsarate1027@g...|2019-10-24 09:35:01|
|dipakalagate1991@...|2019-10-24 09:35:01|
|shibadattanayak@g...|2019-10-24 09:35:01|
|durganath123@outl...|2019-10-24 09:40:02|
|vaibhavkhadke@gma...|2019-10-24 09:45:02|
|gaikwadr576@gmail...|2019-10-24 09:50:01|
|kalyani24deobhank...|2019-10-24 09:50:01|
|dilipsoni199566@g...|2019-10-24 09:50:01|
|surajwarbhuvan192...|2019-10-24 09:55:01|
|tekina.makin@gmai...|2019-10-24 09:50:01|
|priyankagandhi250...|2019-10-24 09:45:01|
|mishrasushil889@g...|2019-10-24 09:55:02|
| blsonalib@gmail.com|2019-10-24 09:40:01|
|manoj.ks.24.mk@gm...|2019-10-24 09:40:01|
|hakepratiksha55@g...|2019-10-24 09:55:01|
|vaibhavpratihar17...|2019-10-24 10:00:01|
|rawatabhishek2012...|2019-10-24 10:00:01|
|indrajeetgajbhiye...|2019-10-24 09:55:01|
+--------------------+-------------------+
only showing top 20 rows

In [8]:
late_hours.count()

50

In [9]:
df1 = late_hours.withColumn('hours', hour(late_hours['start_time']))
df1.show(5)

+--------------------+-------------------+-----+
|           user_name|         start_time|hours|
+--------------------+-------------------+-----+
|  rr582619@gmail.con|2019-10-24 09:35:01|    9|
| addyp1911@gmail.com|2019-10-24 09:35:02|    9|
|rohitsarate1027@g...|2019-10-24 09:35:01|    9|
|dipakalagate1991@...|2019-10-24 09:35:01|    9|
|shibadattanayak@g...|2019-10-24 09:35:01|    9|
+--------------------+-------------------+-----+
only showing top 5 rows

In [10]:
x = df1.select('user_name','hours')
x = x.withColumn('h_sec', x['hours'] * 3600)
x.show(5)

+--------------------+-----+-----+
|           user_name|hours|h_sec|
+--------------------+-----+-----+
|  rr582619@gmail.con|    9|32400|
| addyp1911@gmail.com|    9|32400|
|rohitsarate1027@g...|    9|32400|
|dipakalagate1991@...|    9|32400|
|shibadattanayak@g...|    9|32400|
+--------------------+-----+-----+
only showing top 5 rows

In [11]:
df2 = late_hours.withColumn('min', minute(late_hours['start_time']))
y = df2.select('user_name','min')
y = y.withColumn('m_sec', y['min'] * 60)
y.show(5)

+--------------------+---+-----+
|           user_name|min|m_sec|
+--------------------+---+-----+
|  rr582619@gmail.con| 35| 2100|
| addyp1911@gmail.com| 35| 2100|
|rohitsarate1027@g...| 35| 2100|
|dipakalagate1991@...| 35| 2100|
|shibadattanayak@g...| 35| 2100|
+--------------------+---+-----+
only showing top 5 rows

In [12]:
df3 = late_hours.withColumn('sec', second(late_hours['start_time']))
z = df3.select('user_name', 'sec')
z.show(5)

+--------------------+---+
|           user_name|sec|
+--------------------+---+
|  rr582619@gmail.con|  1|
| addyp1911@gmail.com|  2|
|rohitsarate1027@g...|  1|
|dipakalagate1991@...|  1|
|shibadattanayak@g...|  1|
+--------------------+---+
only showing top 5 rows

In [13]:
df4 = x.join(y, on = ['user_name'], how = 'inner')
df4.show(5)

+--------------------+-----+-----+---+-----+
|           user_name|hours|h_sec|min|m_sec|
+--------------------+-----+-----+---+-----+
|  rr582619@gmail.con|    9|32400| 35| 2100|
| addyp1911@gmail.com|    9|32400| 35| 2100|
|rohitsarate1027@g...|    9|32400| 35| 2100|
|dipakalagate1991@...|    9|32400| 35| 2100|
|shibadattanayak@g...|    9|32400| 35| 2100|
+--------------------+-----+-----+---+-----+
only showing top 5 rows

In [14]:
df5 = df4.join(z, on = ['user_name'], how = 'inner') 
df5.show(5)

+--------------------+-----+-----+---+-----+---+
|           user_name|hours|h_sec|min|m_sec|sec|
+--------------------+-----+-----+---+-----+---+
|  rr582619@gmail.con|    9|32400| 35| 2100|  1|
| addyp1911@gmail.com|    9|32400| 35| 2100|  2|
|rohitsarate1027@g...|    9|32400| 35| 2100|  1|
|dipakalagate1991@...|    9|32400| 35| 2100|  1|
|shibadattanayak@g...|    9|32400| 35| 2100|  1|
+--------------------+-----+-----+---+-----+---+
only showing top 5 rows

In [15]:
df6 = df5.withColumn('late_hrs', (df5['h_sec'] + df5['m_sec'] + df5['sec'])/3600)
df6.show(5)

+--------------------+-----+-----+---+-----+---+----------------+
|           user_name|hours|h_sec|min|m_sec|sec|        late_hrs|
+--------------------+-----+-----+---+-----+---+----------------+
|  rr582619@gmail.con|    9|32400| 35| 2100|  1|9.58361111111111|
| addyp1911@gmail.com|    9|32400| 35| 2100|  2|9.58388888888889|
|rohitsarate1027@g...|    9|32400| 35| 2100|  1|9.58361111111111|
|dipakalagate1991@...|    9|32400| 35| 2100|  1|9.58361111111111|
|shibadattanayak@g...|    9|32400| 35| 2100|  1|9.58361111111111|
+--------------------+-----+-----+---+-----+---+----------------+
only showing top 5 rows

In [16]:
average_late_hours = df6.select(avg('late_hrs'))
average_late_hours.show()

+------------------+
|     avg(late_hrs)|
+------------------+
|10.233694444444442|
+------------------+