In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
db = client.sample

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/home/admin1/Desktop/Experiment/Data.csv')
df.head()

   Id            Name      Phone  Age    Address
0   1  Dewanshu Rahul  987758477   23  Madhubani
1   2          Nikhil  877031367   22     Bhilai
2   3          Nilesh  987654321   24      Indor

In [6]:
data = df.to_dict(orient = 'records')

In [7]:
db.data.insert(data)

/home/admin1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

[ObjectId('5e6b270b92761204287380cc'),
 ObjectId('5e6b270b92761204287380cd'),
 ObjectId('5e6b270b92761204287380ce')]