In [1]:
import mysql.connector

In [2]:
db_connection = mysql.connector.connect(host="localhost", user="admin1", passwd="!@aA12345", database="SAMPLEDB")
db_cursor = db_connection.cursor()

In [4]:
query = 'create table STUDENT(Id int(10) PRIMARY KEY AUTO_INCREMENT, Name varchar(30), Phone int(11), Age int(3), Address varchar(30))'
db_cursor.execute(query)