In [1]:
import mysql.connector

In [2]:
db_connection = mysql.connector.connect(host="localhost", user="admin1", passwd="!@aA12345", database="SAMPLEDB")
db_cursor = db_connection.cursor()

In [3]:
query = "select * from STUDENT"
db_cursor.execute(query)

In [4]:
for data in db_cursor:
    print(data)

(1, 'Dewanshu Rahul', 987758477, 23, 'Madhubani')
(2, 'Nikhil', 877031367, 22, 'Bhilai')
(3, 'Nilesh', 987654321, 24, 'Indor')

In [5]:
import pandas as pd

In [8]:
df = pd.read_sql('select * from STUDENT',db_connection)

In [9]:
df.head()

   Id            Name      Phone  Age    Address
0   1  Dewanshu Rahul  987758477   23  Madhubani
1   2          Nikhil  877031367   22     Bhilai
2   3          Nilesh  987654321   24      Indor

In [12]:
df.to_csv("/home/admin1/Desktop/Experiment/Data.csv",sep=",")