In [1]:
import mysql.connector

In [2]:
db_connection = mysql.connector.connect(host="localhost", user="admin1", passwd="!@aA12345", database="SAMPLEDB")
db_cursor = db_connection.cursor()

In [3]:
query = 'select * from STUDENT;'
db_cursor.execute(query)
result = db_cursor.fetchall()
for data in result:
    print(data)

(1, 'Dewanshu Rahul', 987758477, 23, 'Madhubani')
(2, 'Nikhil', 877031367, 22, 'Bhilai')
(3, 'Nilesh', 987654321, 24, 'Indor')